@import "../../lib/mixins";

.clearfix() {
    zoom: 1;
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}

body {
    margin: 0;
}

.sliding-navigation {
    .dotsunited-sliding-navigation();

    position: absolute;
    width: 50%;
    max-width: 500px;
    height: 100%;
    background: #000;

    font-family: sans-serif;
    font-size: 16px;
    line-height: 1;

    li {
        .clearfix();
    }

    a {
        display: block;
        padding: 16px 20px;
        color: #fff;
        border-bottom: 1px solid #222;

        &:active,
        &:focus {
            background: #222;
        }
    }
}

.sliding-navigation2 {
    right: 0;
}

.sliding-navigation__open-button {
    .dotsunited-sliding-navigation-open-button();

    float: right;

    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.sliding-navigation__back {
    padding: 0 14px;
    background: #222;

    &:active,
    &:focus {
        background: #333;
    }
}

.sliding-navigation__back-button {
    .dotsunited-sliding-navigation-back-button();
    color: #fff;
}
